body{
    margin:0;
    display:flex;
    justify-content:center;
    height:100vh;
    align-items:center;
    background-color:gainsboro;
}

.slider-container{
    background-color:cornflowerblue;
    position:relative;
    width:500px;
    height:300px;
    overflow:hidden;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.3);
}
.image-container{
    transition: transform 1s ease-in-out;
    display:flex;
    /* transform:translateX(-1000px); */
}
.btn{
    position:absolute;
    top:60%;
    color:white;
    font-size:30px;
    transform:translateY(-50%);
    opacity:0.5;
    cursor:pointer;
}
.btn.prev{
    left:10px;
}
.btn.next{
    right:10px;
}
.btn:hover{
    opacity:1;
}
.header{
    color:seagreen;
    padding-top:0;
    display:flex;
    justify-content:space-between;
    padding:0 10px;
}